- name: dotfiles checkout
  ansible.builtin.git:
    repo: "{{ dotfiles_repo }}"
    dest: ~/dotfiles
    accept_hostkey: true
    ssh_opts: "-o ForwardAgent=yes"

- name: oh my zsh checkout
  ansible.builtin.git:
    repo: "https://github.com/ohmyzsh/ohmyzsh.git"
    dest: ~/.oh-my-zsh

- name: creating symlink for zshrc
  ansible.builtin.file:
    src: "~/dotfiles/shell/zshrc"
    dest: "~/.zshrc"
    state: link

- name: ensure ~/.ssh/sockets directory exists
  ansible.builtin.file:
    path: "~/.ssh/sockets"
    state: directory
    mode: "0700"

- name: creating symlink for ssh config
  ansible.builtin.file:
    src: "~/dotfiles/ssh/config"
    dest: "~/.ssh/config"
    state: link
