- name: install anaconda
  hosts: localhost
  become: no
  tasks:
    - name: mkdir 
      shell:
        cmd: |
          mkdir -p ~/miniconda3
    - name: download 
      shell:
        cmd: |
          wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O ~/miniconda3/miniconda.sh
    - name: run 
      shell:
        cmd: |
          bash ~/miniconda3/miniconda.sh -b -u -p ~/miniconda3
    - name: clean 
      shell:
        cmd: |
          rm -rf ~/miniconda3/miniconda.sh
