- name: install apt packages and apps
  hosts: localhost
  become: yes
  pre_tasks:
    - name: update repositories
      apt: update_cache=yes
  tasks:
    - name: add telegram ppa
      apt_repository:
        repo: "ppa:atareao/telegram"
    - name: add alacritty ppa
      apt_repository:
        repo: "ppa:aslatter/ppa"
    - name: add obs-studio ppa
      apt_repository:
        repo: "ppa:obsproject/obs-studio"
    - name: Install packages with apt
      become: yes
      apt:
        name:
          - alacritty
          - aspell-es
          - awesome
          - blueman
          - caffeine
          - cmatrix
          - cmus
          - ffmpeg
          - filezilla
          - fish
          - flameshot
          - flatpak
          - gh
          - gparted
          - gnome-shell-extension-manager
          - gnome-software-plugin-flatpak
          - gnome-tweaks
          - hardinfo
          - imagemagick
          - kazam
          - libreoffice
          - mysql-client
          - nautilus-image-converter
          - nvidia-driver-525
          - obs-studio
          - pavucontrol
          - telegram
          - terminator
          - torbrowser-launcher
          - virtualbox
          - vlc
          - workrave
          - yara
        state: present
        update_cache: true
    - name: adding existing user "{{ lookup('env', 'USER') }}" to group mail
      user:
        name: "{{ lookup('env', 'USER') }}"
        groups: mail
        append: yes
    - name: Remove packages
      become: yes
      apt:
        name:
          - thunderbird
        state: absent
