- name: bootstrap development environment
  hosts: localhost
  become: yes
  pre_tasks:
    - name: update repositories
      apt: update_cache=yes
  tasks:
    - name: install packages with apt
      apt:
        name:
          - build-essential
        state: present
        update_cache: true
