- name: install geek fonts
  hosts: localhost
  become: yes
  vars:
    - fonts_path: '/usr/share/fonts/truetype'
  tasks:
    - name: ensure fonts directory
      file:
        path: "{{ fonts_path }}/hack"
        state: directory

    - name: hack font exists
      shell: "ls {{ fonts_path }}/hack/Hack*"
      register: hack_exists
      ignore_errors: yes

    - name: download Hack
      when: hack_exists is failed
      ansible.builtin.unarchive:
        src: https://github.com/ryanoasis/nerd-fonts/releases/download/v2.2.2/Hack.zip
        dest: "{{ fonts_path }}/hack/"
        remote_src: yes

    - name: ensure fonts directory
      file:
        path: "{{ fonts_path }}/DroidSansMono"
        state: directory

    - name: droid font exists
      shell: "ls {{ fonts_path }}/DroidSansMono/Droid*"
      register: droid_exists
      ignore_errors: yes

    - name: download Droid
      when: droid_exists is failed
      ansible.builtin.unarchive:
        src: https://github.com/ryanoasis/nerd-fonts/releases/download/v2.2.2/DroidSansMono.zip
        dest: "{{ fonts_path }}/DroidSansMono/"
        remote_src: yes
