- name: install geek fonts
  hosts: localhost
  become: yes
  vars:
    fonts_path: '/usr/share/fonts/truetype'
    nerd_fonts_version: 'v3.4.0'
    fonts:
      - { name: Hack, check: "Hack*" }
      - { name: DroidSansMono, check: "Droid*" }
      - { name: JetBrainsMono, check: "JetBrains*" }
      - { name: UbuntuMono, check: "Ubuntu*" }
      - { name: Ubuntu, check: "Ubuntu*" }
  tasks:
    - name: ensure font directories
      file:
        path: "{{ fonts_path }}/{{ item.name }}"
        state: directory
      loop: "{{ fonts }}"

    - name: check if fonts exist
      shell: "ls {{ fonts_path }}/{{ item.name }}/{{ item.check }}"
      register: font_check
      ignore_errors: yes
      changed_when: false
      loop: "{{ fonts }}"

    - name: download fonts
      ansible.builtin.unarchive:
        src: "https://github.com/ryanoasis/nerd-fonts/releases/download/{{ nerd_fonts_version }}/{{ item.item.name }}.zip"
        dest: "{{ fonts_path }}/{{ item.item.name }}/"
        remote_src: yes
      when: item is failed
      loop: "{{ font_check.results }}"
      loop_control:
        label: "{{ item.item.name }}"
