- name: config keychron keyboard
  hosts: localhost
  become: yes
  tasks:
    - name: make fn keys work :shrug
      shell: "echo 0 | sudo tee /sys/module/hid_apple/parameters/fnmode"
    - name: make sure fn keys change persists
      shell: "echo \"options hid_apple fnmode=0\" | sudo tee -a /etc/modprobe.d/hid_apple.conf"
