- name: Snap packages
  hosts: localhost
  become: yes
  tasks:
  - name: Install packages with snap
    become: yes
    snap:
      name:
        - spotify
        - gimp
        - icloud-notes-linux-client
        - discord
        - zoom-client
        - ngrok
        - dart-sass
        - todoist
  - name: Install packages with snap classic
    become: yes
    snap:
      name:
        - code
        - blender
        - google-cloud-sdk
        - aws-cli
      classic: true
