- name: xdg launcher config
  hosts: localhost
  become: false
  vars:
    source_dir: "~/dotfiles/xdg/applications"
    dest_dir: "{{ lookup('env', 'HOME') }}/.local/share/applications"
  tasks:
    - name: ensure destination directory exists
      file:
        path: "{{ dest_dir }}"
        state: directory

    - name: symlink all desktop files
      ansible.builtin.file:
        src: "{{ item }}"
        dest: "{{ dest_dir }}/{{ item | basename }}"
        state: link
      with_fileglob:
        - "{{ source_dir }}/*.desktop"
