- name: Install MacOS Packages
  hosts: localhost
  become: false
  vars:
    brew_cask_packages:
      - alacritty
      - arduino-ide
      - balenaetcher
      - brave-browser
      - docker
      - docker-compose
      - dropbox
      - firefox
      - gimp
      - google-chrome
      - google-cloud-sdk
      - google-drive
      - keepassx
      - ngrok
      - postman
      - sequel-pro
      - spotify
      - textmate
      - todoist
      - tower
      - transmission
      - vagrant
      - vagrant-manager
      - virtualbox@beta
    brew_packages:
      - autoconf
      - awscli
      - bash-completion
      - certbot
      - deskflow
      - dockutil
      - fastfetch
      - ffmpeg
      - fish
      - fzf
      - git
      - git-crypt
      - git-lfs
      - glow
      - go
      - java
      - jq
      - lazygit
      - mc
      - midnight-commander
      - neovim
      - nmap
      - openssl
      - packer
      - postgresql
      - prettierd
      - pyenv
      - python
      - ripgrep
      - terraform
      - terraform-inventory
      - thefuck
      - tmux
      - tmuxinator
      - tree
      - vault
      - wget
      - zsh
      - zsh-autosuggestions
      - zsh-completions
      - zsh-syntax-highlighting
    install_homebrew_if_missing: false
    upgrade_homebrew_packages: false

  pre_tasks:
    - name: Ensuring Homebrew Is Installed
      stat:
        # path for M1 processors, otherwise /usr/local
        path: /opt/homebrew/bin/brew
      register: homebrew_check

    - name: Fail If Homebrew Is Not Installed and install_homebrew_if_missing Is False
      fail:
        msg: Homebrew is missing...Install from http://brew.sh/
      when:
        - not homebrew_check.stat.exists
        - not install_homebrew_if_missing

    - name: Installing Homebrew
      shell: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      when:
        - not homebrew_check.stat.exists
        - install_homebrew_if_missing

  tasks:
    - name: Add Deskflow tap
      homebrew_tap:
        name: deskflow/homebrew-tap
        state: present
      when: homebrew_check.stat.exists

    - name: Updating Homebrew
      homebrew:
        update_homebrew: true
      when: homebrew_check.stat.exists

    - name: Upgrading Homebrew Packages
      homebrew:
        upgrade_all: "{{ upgrade_homebrew_packages }}"
      register: result
      until: result is successful
      when: homebrew_check.stat.exists

    - name: Installing Homebrew Cask Packages
      homebrew_cask:
        name: "{{ brew_cask_packages }}"
        state: present
      register: result
      until: result is successful
      when: homebrew_check.stat.exists

    - name: Installing Homebrew Packages
      homebrew:
        name: "{{ brew_packages }}"
        state: present
      register: result
      until: result is successful
      when: homebrew_check.stat.exists
