- name: config neovim
  hosts: localhost
  become: no
  tasks:
    - name: create a directory if it does not exist
      ansible.builtin.file:
        path: "~/.config"
        state: directory
    - name: Creating hardlink
      ansible.builtin.file:
        src: "~/dotfiles/nvim"
        dest: "~/.config/nvim"
        state: link
