- name: Show ~/Library
  shell: chflags nohidden ~/Library

- name: Show Drives on the Desktop
  shell: defaults write com.apple.finder ShowHardDrivesOnDesktop -bool true

- name: Show External Drives on the Desktop
  shell: defaults write com.apple.finder ShowExternalHardDrivesOnDesktop -bool true

- name: Show Removable Media on the Desktop
  shell: defaults write com.apple.finder ShowRemovableMediaOnDesktop -bool true

- name: Show Hidden Files
  shell: defaults write com.apple.finder AppleShowAllFiles -bool true

- name: Show File Extensions
  shell: defaults write NSGlobalDomain AppleShowAllExtensions -bool true

- name: Show the Status Bar in Finder
  shell: defaults write com.apple.finder ShowStatusBar -bool true

- name: Show the Path Bar in Finder
  shell: defaults write com.apple.finder ShowPathbar -bool true

- name: Increase keyboard initial repeat
  shell: defaults write -g InitialKeyRepeat -int 10

- name: Increase keyboard repeat rate
  shell: defaults write -g KeyRepeat -int 1

- name: Screenshots / create directory
  shell: mkdir -p ~/Screenshots

- name: Screenshots / location
  shell: defaults write com.apple.screencapture location -string ~/Screenshots

- name: Screenshots / Cmd+Shift+4 copies area to clipboard (swapped)
  shell: >
    defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 31
    '<dict><key>enabled</key><true/><key>value</key><dict><key>parameters</key><array><integer>52</integer><integer>21</integer><integer>1179648</integer></array><key>type</key><string>standard</string></dict></dict>'

- name: Screenshots / Cmd+Ctrl+Shift+4 saves area to file (swapped)
  shell: >
    defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 30
    '<dict><key>enabled</key><true/><key>value</key><dict><key>parameters</key><array><integer>52</integer><integer>21</integer><integer>1441792</integer></array><key>type</key><string>standard</string></dict></dict>'

- name: Tap to click touchbar
  shell: defaults write com.apple.AppleMultitouchTrackpad Clicking -bool true

- name: Show startup disk in Finder sidebar
  shell: mysides list | grep -q "Macintosh HD" || mysides add "Macintosh HD" file:///

- name: Show home folder in Finder sidebar
  shell: mysides list | grep -q "{{ ansible_user_id }}" || mysides add "{{ ansible_user_id }}" file:///Users/{{ ansible_user_id }}/

- name: Restart Finder
  shell: killall Finder
