- name: Bootstrap development environment
  hosts: localhost
  become: yes
  pre_tasks:
    - name: update repositories
      apt: update_cache=yes
  tasks:
  - name: Install packages with apt
    become: yes
    ansible.builtin.apt:
      name:
        - git
        - tmux
        - vim
        - mc
      state: present
