- name: Bootstrap development environment
  hosts: localhost
  tasks:
  - name: Install packages with apt
    become: yes
    apt:
      name:
        - git
        - tmux
        - vim
        - mc
      state: present
