- name: Check Homebrew (Apple Silicon)
  stat:
    path: /opt/homebrew/bin/brew
  register: homebrew_apple_silicon

- name: Check Homebrew (Intel)
  stat:
    path: /usr/local/bin/brew
  register: homebrew_intel

- name: Set homebrew_check fact
  set_fact:
    homebrew_check:
      stat:
        exists: "{{ homebrew_apple_silicon.stat.exists or homebrew_intel.stat.exists }}"

- name: Fail If Homebrew Is Not Installed and install_homebrew_if_missing Is False
  fail:
    msg: Homebrew is missing...Install from http://brew.sh/
  when:
    - not homebrew_check.stat.exists
    - not install_homebrew_if_missing

- name: Installing Homebrew
  shell: /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  when:
    - not homebrew_check.stat.exists
    - install_homebrew_if_missing

- name: Add Deskflow tap
  homebrew_tap:
    name: deskflow/homebrew-tap
    state: present
  when:
    - homebrew_check.stat.exists
    - "'deskflow' in brew_packages"

- name: Updating Homebrew
  homebrew:
    update_homebrew: true
  when: homebrew_check.stat.exists

- name: Upgrading Homebrew Packages
  homebrew:
    upgrade_all: "{{ upgrade_homebrew_packages }}"
  register: result
  until: result is successful
  when: homebrew_check.stat.exists

- name: Installing Homebrew Cask Packages
  homebrew_cask:
    name: "{{ brew_cask_packages }}"
    state: present
    accept_external_apps: true
  register: result
  until: result is successful
  when: homebrew_check.stat.exists

- name: Installing Homebrew Packages
  homebrew:
    name: "{{ brew_packages }}"
    state: present
  register: result
  until: result is successful
  when: homebrew_check.stat.exists
