<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ item.label }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>. $HOME/dotfiles/shell/local-overrides; {{ item.command }}</string>
    </array>
    <key>UserName</key>
    <string>{{ launchd_user }}</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>HOME</key>
        <string>{{ launchd_user_home }}</string>
        <key>USER</key>
        <string>{{ launchd_user }}</string>
        <key>PATH</key>
        <string>/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>StartInterval</key>
    <integer>{{ item.interval }}</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>{{ launchd_user_home }}/.launchd-logs/{{ item.label }}.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>{{ launchd_user_home }}/.launchd-logs/{{ item.label }}.stderr.log</string>
</dict>
</plist>
