- name: alacritty config
  hosts: localhost
  become: false
  vars:
    alacritty_src: "{{ '~/dotfiles/alacritty/alacritty-linux.toml' if ansible_system == 'Linux' else '~/dotfiles/alacritty/alacritty-osx.toml' }}"
  tasks:
    - name: ensure alacritty config directory
      file:
        path: "{{ lookup('env', 'HOME') }}/.config/alacritty"
        state: directory

    - name: creating symlink for alacritty config
      ansible.builtin.file:
        src: "{{ alacritty_src }}"
        dest: "~/.config/alacritty/alacritty.toml"
        state: link
