- name: install apt conmmon packages and apps
  hosts: localhost
  become: yes
  pre_tasks:
    - name: update repositories
      apt: update_cache=yes
  tasks:
    - name: add telegram ppa
      apt_repository:
        repo: "ppa:atareao/telegram"
    - name: add alacritty ppa
      apt_repository:
        repo: "ppa:aslatter/ppa"
    - name: Install packages with apt
      become: yes
      apt:
        name:
          - libfuse2*
          - nvidia-driver-525
          - git
          - tmux
          - vim
          - mc
          - terminator
          - python3.10
          - flameshot
          - telegram
          - vlc
          - libreoffice
          - alacritty
          - curl
          - gnome-tweaks
          - dconf-cli
          - dconf-editor
        state: present
        update_cache: true
    - name: Remove packages
      become: yes
      apt:
        name:
          - thunderbird
        state: absent
