- name: install hosts file
  hosts: localhost
  become: true
  vars:
    local_ip: '{{ ansible_facts.default_ipv4.address }}'
    hosts_base_path: 'https://raw.githubusercontent.com/StevenBlack/hosts/master/'
    hosts_suffix: hosts
    hosts_url: '{{hosts_base_path}}{{ recipe_url }}{{ hosts_suffix }}'
    download_path: "/tmp/hosts-template"
    tmp_path: "/tmp/hosts"
    local_ip: "127.0.0.1"
    is_docker: '{{ ansible_facts.virtualization_type is defined and ansible_facts.virtualization_type == "docker" }}'
  tasks:
    - name: "Download Hosts file from {{ hosts_url }}"
      get_url:
        url: "{{ hosts_url }}"
        dest: "{{ download_path }}"
      notify: copy hosts file

    - name: "check if {{ tmp_path }} exists"
      stat:
        path: "{{ tmp_path }}"
      register: temp_hosts
      changed_when: not temp_hosts.stat.exists
      notify: copy hosts file

    - meta: flush_handlers

    - name: Make sure hostname resolves to localhost
      lineinfile:
        path: "{{ tmp_path }}"
        regexp: "^({{ local_ip }} {{ ansible_facts.nodename }})$"
        line: "{{ local_ip }} {{ ansible_facts.nodename }}"
        insertafter: "127.0.0.1 localhost"

    - name: "Add other custom_hosts"
      lineinfile:
        path: "{{ tmp_path }}"
        regexp: "( {{ item.host }})$"
        line: "{{ item.ip }} {{ item.host }}"
        insertafter: "{{ insert_after_line }}"
      with_items: "{{ custom_hosts }}"
      when: custom_hosts|length

    - name: Copy the hosts file to /etc/hosts
      become: true
      copy:
        src: "{{ tmp_path }}"
        dest: "{{ hosts_file }}"
        mode: 0644
        owner: root
        remote_src: true
        unsafe_writes: "{{ is_docker }}"
