- name: install hosts file
  hosts: localhost
  become: yes
  vars:
    local_ip: '{{ ansible_facts.default_ipv4.address }}'
    hosts_base_path: 'https://raw.githubusercontent.com/StevenBlack/hosts/master/'
    hosts_suffix: 'hosts'
    hosts_file: '/etc/hosts'
    hosts_url: '{{hosts_base_path}}{{ hosts_suffix }}'
    tmp_path: "/tmp/hosts"
    local_ip: "127.0.0.1"
  tasks:
    - name: "Download Hosts file from {{ hosts_url }}"
      get_url:
        url: "{{ hosts_url }}"
        dest: "{{ tmp_path }}"

    - name: "check if {{ tmp_path }} exists"
      stat:
        path: "{{ tmp_path }}"
      register: temp_hosts
      changed_when: not temp_hosts.stat.exists

    - meta: flush_handlers

    - name: Make sure hostname resolves to localhost
      lineinfile:
        path: "{{ tmp_path }}"
        regexp: "^({{ local_ip }} {{ ansible_facts.nodename }})$"
        line: "{{ local_ip }} {{ ansible_facts.nodename }}"
        insertafter: "127.0.0.1 localhost"

    - name: Copy the hosts file to /etc/hosts
      copy:
        src: "{{ tmp_path }}"
        dest: "{{ hosts_file }}"
        mode: 0644
        owner: root
        remote_src: true
