- name: install global nmp packages
  hosts: localhost
  tasks:
    - name: set default node
      shell: /bin/bash -c "source ~/.nvm/nvm.sh nvm use default"
    - name: Install node.js packages globally.
      npm:
        name: "{{item}}"
        global: yes
      loop:
        - yarn
        - diff-so-fancy
        - prettier
        - nodemon
        - pyright
