- name: install global nmp packages
  hosts: localhost
  become: yes
  tasks:
    - name: Install node.js packages globally.
      npm:
        name: "{{item}}"
        global: yes
      loop:
        - yarn
        - diff-so-fancy
        - prettier

