- name: qmk
  hosts: localhost
  become: no
  tasks:
    - name: Create a directory if it does not exist
      ansible.builtin.file:
        path: "~/code"
        state: directory
        mode: "0755"
    - name: qmk checkout
      ansible.builtin.git:
        repo: "git@github.com:iloire/qmk_firmware.git"
        dest: ~/code/qmk
