- name: tmux config
  hosts: localhost
  become: false
  tasks:
    - name: git checkout
      ansible.builtin.git:
        repo: "https://github.com/tmux-plugins/tpm"
        dest: ~/.tmux/plugins/tpm
    - name: creating hardlink for tmux config
      ansible.builtin.file:
        src: "~/dotfiles/tmux/.tmux.conf"
        dest: "~/.tmux.conf"
        state: link
    - name: creating hardlink for tmuxinator config
      ansible.builtin.file:
        src: "~/dotfiles/tmuxinator/"
        dest: "~/.config/tmuxinator"
        state: link
