- name: tmux config
  hosts: localhost
  become: false
  tasks:
    - name: git checkout
      ansible.builtin.git:
        repo: "https://github.com/tmux-plugins/tpm"
        dest: ~/.tmux/plugins/tpm
