- name: set up zsh for user
  hosts: localhost
  become: no # to make sure we get the user_id for the current user, not root
  vars:
    the_user: "{{ ansible_user_id }}"
  tasks:
    - name: Install zsh
      become: yes
      apt:
        name:
          - zsh
    - name: change user shell to zsh
      become: yes
      user:
        name: "{{ the_user }}"
        shell: /bin/zsh
