- name: Create apps directory
  ansible.builtin.file:
    path: "~/apps"
    state: directory
    mode: "0755"
  when: ansible_system == 'Linux'

- name: download neovim appimage
  ansible.builtin.get_url:
    url: "https://github.com/neovim/neovim/releases/latest/download/nvim-linux-x86_64.appimage"
    dest: "~/apps/nvim"
    mode: "770"
  when: ansible_system == 'Linux'

- name: ensure .config directory exists
  ansible.builtin.file:
    path: "~/.config"
    state: directory

- name: creating symlink for neovim config
  ansible.builtin.file:
    src: "~/dotfiles/nvim"
    dest: "~/.config/nvim"
    state: link
